version: "3.7"

services:
  db:
    container_name: db
    image: postgres:16
    ports:
      - "${DB_PORT}:${DB_PORT}"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data

  backup:
    container_name: backup
    build:
      context: ./config/backup
      dockerfile: Dockerfile
    volumes:
      - ./backups:/backups
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    restart: always
    depends_on:
      db:
        condition: service_healthy

  app:
    container_name: app
    image: antgoncharik/sso
    ports:
      - "8080:8080"
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    volumes:
      - ./config/rsa:/opt/app/config/rsa
    restart: always
    depends_on:
      db:
        condition: service_healthy

  certbot:
    container_name: certbot
    image: certbot/certbot
    volumes:
      - ./certs:/etc/letsencrypt
      - ./certs:/var/www/certbot
      - ./config/certbot/start_certbot.sh:/start_certbot.sh
    entrypoint: /start_certbot.sh
    environment:
      - CERTBOT_EMAIL=ant.goncharik.development@gmail.com
      - CERTBOT_DOMAIN=sso-auth.site

  nginx:
    container_name: nginx
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./certs:/etc/nginx/certs
      - ./certs:/var/www/certbot
    depends_on:
      app:
        condition: service_started

volumes:
  db_data:
