<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="hidden" name="app" value="{{ .App }}">
    <input type="hidden" name="redirect_uri" value="{{ .RedirectUri }}">    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="/register?app={{ .App }}&redirect_uri={{ .RedirectUri }}">Register</a></p>
</body>
</html>
